@import "~bootstrap/scss/bootstrap.scss";



body {
    background-image: url(https://images.pexels.com/photos/3758823/pexels-photo-3758823.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(197, 201, 202);
    font-family: 'Syne Mono', monospace;
    font-size: 5rem;
}
